#JetBrains
.idea/

#macOS
.DS_Store

# Python
__pycache__/
*.pyc
/.venv/

# Logs
dynamix_asm.log
dynamix_asm_v7.log


# Device-specific research
Device_Docs/

# Added by cargo
/target
/.cargo/

# Misc
Archive.zip
digest.txt