# Rust
target/

#JetBrains
.idea/

#macOS
.DS_Store

# Python
__pycache__/
*.pyc
/.venv/

# Logs
*.log

# Device backups
Backups/

# Device-specific research
Docs/
rkdeveloptool/




# Temporary files
tmp/
temp/